<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="listeningPort" value="12345" />
    <add key="backupMode" value="0" />
    <add key="timeout" value="5" />
    <!-- If backup mode == 1 -->
    <add key="primaryCSaddress" value="0.0.0.0" />
    <add key="primaryCSport" value="0000" />
  </appSettings>

  <system.diagnostics>

    <switches>
      <add name="off" value="Off" />
      <add name="crit" value="Critival" />
      <add name="error" value="Error" />
      <add name="warn" value="Warning" />
      <add name="info" value="Information" />
      <add name="verb" value="Verbose" />
      <add name="activityTracing" value="ActivityTracing" />
      <add name="all" value="All" />
    </switches>

    <sharedListeners>
      <add name="consoleListener"
           type="_15pl04.Ucc.Commons.Logging.CustomConsoleTraceListener, Ucc.Commons"
           printDate="true"
           printSource="true"
           printCallerInfo="true" />
    </sharedListeners>

    <sources>
      <source name="ComponentOverseer" switchName="all">
        <listeners>
          <add name="consoleListener" />
        </listeners>
      </source>
      <source name="MessageProcessor" switchName="all">
        <listeners>
          <add name="consoleListener" />
        </listeners>
      </source>
      <source name="TcpServer" switchName="all">
        <listeners>
          <add name="consoleListener" />
        </listeners>
      </source>
      <source name="WorkManager" switchName="all">
        <listeners>
          <add name="consoleListener" />
        </listeners>
      </source>
    </sources>

  </system.diagnostics>

</configuration>