<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="serverConfig" type="_15pl04.Ucc.Commons.Config.ServerConfigurationSection, Ucc.Commons"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <serverConfig address="127.0.0.1" port="12345" timeout="5" isBackup="false">
    <masterServer address="127.0.0.1" port="12345"/>
  </serverConfig>
</configuration>
