<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="componentConfig" type="Dvrp.Ucc.Commons.Config.ComponentConfigurationSection, Ucc.Commons"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <componentConfig taskSolversPath="/">
    <primaryServer address="127.0.0.1" port="12345"/>
  </componentConfig>
</configuration>
